## HR Employee Attrition Data Cleaning
This notebook covers data cleaning and preparation steps before analysis in SQL and visualization in Power BI.

In [26]:
import pandas as pd

In [28]:
df= pd.read_csv('employee_attrition.csv')
df.head(5)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

## 2. Select Relevant Columns

In [35]:

columns_to_use = [
    'EmployeeNumber', 'Attrition','Age','Gender','MaritalStatus','DistanceFromHome','Education','EducationField',
    'NumCompaniesWorked','TotalWorkingYears', 'TrainingTimesLastYear', 'Department','BusinessTravel','JobRole',
    'JobLevel', 'OverTime', 'MonthlyIncome','HourlyRate','DailyRate','MonthlyRate', 'PercentSalaryHike',
    'StockOptionLevel','JobSatisfaction', 'EnvironmentSatisfaction',
    'WorkLifeBalance','RelationshipSatisfaction','JobInvolvement','PerformanceRating','YearsAtCompany','YearsSinceLastPromotion',       
    'YearsInCurrentRole','YearsWithCurrManager'          
]

df = df[columns_to_use]
print(f'Selected columns dataset shape: {df.shape}')

Selected columns dataset shape: (1470, 32)

## 3. Remove Duplicate EmployeeNumber

In [38]:
df = df.drop_duplicates(subset='EmployeeNumber')
print(f'Shape after removing duplicates: {df.shape}')

Shape after removing duplicates: (1470, 32)

## 4. Handle Missing Values

In [49]:
missing_values = df.isnull().sum()

In [51]:
print(missing_values)

EmployeeNumber              0
Attrition                   0
Age                         0
Gender                      0
MaritalStatus               0
DistanceFromHome            0
Education                   0
EducationField              0
NumCompaniesWorked          0
TotalWorkingYears           0
TrainingTimesLastYear       0
Department                  0
BusinessTravel              0
JobRole                     0
JobLevel                    0
OverTime                    0
MonthlyIncome               0
HourlyRate                  0
DailyRate                   0
MonthlyRate                 0
PercentSalaryHike           0
StockOptionLevel            0
JobSatisfaction             0
EnvironmentSatisfaction     0
WorkLifeBalance             0
RelationshipSatisfaction    0
JobInvolvement              0
PerformanceRating           0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsInCurrentRole          0
YearsWithCurrManager        0
dtype: int64

## 5. Using .replace() to change Numerical Codes to Descriptive Labels

***Educacion***

In [55]:
df['Education'] = df['Education'].replace({
                                            1:'Below College', 
                                            2:'College',
                                            3:'Bachelor', 
                                            4:'Master',
                                            5:'Doctor'
                                            })

In [57]:
df['Education'].value_counts()

Education
Bachelor         572
Master           398
College          282
Below College    170
Doctor            48
Name: count, dtype: int64

***EnvironmentSatisfaction***

In [60]:
df['EnvironmentSatisfaction']= df['EnvironmentSatisfaction'].replace({
                                                                       1:'Low',
                                                                       2:'Medium',
                                                                       3:'High',
                                                                       4:'Very High'
                                                                      })

In [62]:
df['EnvironmentSatisfaction'].value_counts()

EnvironmentSatisfaction
High         453
Very High    446
Medium       287
Low          284
Name: count, dtype: int64

***JobSatisfaction***

In [65]:
df['JobSatisfaction'] = df['JobSatisfaction'].replace({
                                                         1:'Low',
                                                         2:'Medium',
                                                         3:'High',
                                                         4:'Very High'
                                                        })

In [67]:
df['JobSatisfaction'].value_counts()

JobSatisfaction
Very High    459
High         442
Low          289
Medium       280
Name: count, dtype: int64

***WorkLifeBalance***

In [70]:
df['WorkLifeBalance']= df['WorkLifeBalance'].replace({
                                                         1: 'Bad',
                                                         2: 'Good',
                                                         3: 'Better',
                                                         4: 'Best'
                                                        })

In [72]:
df['WorkLifeBalance'].value_counts()

WorkLifeBalance
Better    893
Good      344
Best      153
Bad        80
Name: count, dtype: int64

***RelationshipSatisfaction***

In [79]:
df['RelationshipSatisfaction']= df['RelationshipSatisfaction'].replace({
                                                                         1: 'Bad',
                                                                         2: 'Good',
                                                                         3: 'Better',
                                                                         4: 'Best'
                                                                        })

In [81]:
df['RelationshipSatisfaction'].value_counts()

RelationshipSatisfaction
Better    459
Best      432
Good      303
Bad       276
Name: count, dtype: int64

***JobInvolvement***

In [84]:
df['JobInvolvement']= df['JobInvolvement'].replace({
                                                      1:'Low',
                                                      2:'Medium',
                                                      3:'High',
                                                      4:'Very High'
                                                     })

In [86]:
df['JobInvolvement'].value_counts()

JobInvolvement
High         868
Medium       375
Very High    144
Low           83
Name: count, dtype: int64

##  Exporting Cleaned Dataset to CSV

Now that the data has been cleaned and missing values have been handled, we export the final version to a CSV file for future use or integration Power BI.

In [93]:
df.to_csv('employee_attrition_clean.csv', index=False)